<!-- FOOTER AREA START -->
<footer class="ltn__footer-area  ">
    <div class="footer-top-area  section-bg-2 plr--5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-about-widget">
                        <div class="footer-logo">
                            <div class="site-logo">
                                <img src="~/Content/img/logo-2.png" alt="Logo">
                            </div>
                        </div>

                        <div class="footer-address">
                            <ul>
                                <li>
                                    <div class="footer-address-icon">
                                        <i class="icon-placeholder"></i>
                                    </div>
                                    <div class="footer-address-info">
                                        <p>248A Đ. Nơ Trang Long, Phường 12, Bình Thạnh, TP.Hồ Chí Minh</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="footer-address-icon">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="footer-address-info">
                                        <p><a href="tel:+0123-456789">1800 6821</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="footer-address-icon">
                                        <i class="icon-mail"></i>
                                    </div>
                                    <div class="footer-address-info">
                                        <p><a href="mailto:cskh@pharmavillage.com">cskh@pharmavillage.com</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ltn__social-media mt-20">
                            <ul style="color: white; font-size: 18px; font-weight: bold;">KẾT NỐI VỚI CHÚNG TÔI</ul>
                            <ul>
                                <li><a href="https://www.facebook.com/PharmaCT/" title="Facebook PharmaVillage"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/pharmacity/" title="Linkedin PharmaVillage"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC34rPqjyb_WCq6dMu2khYQA" title="Youtube PharmaVillage"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-menu-widget clearfix">
                        <h4 class="footer-title">Về PharmaVillage</h4>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="@Url.Action("AboutUs","About")">Giới thiệu</a></li>
                                <li><a href="@Url.Action("AllProducts","Product")">Tất cả sản phẩm</a></li>
                                <li><a href=" ">Hệ thống cửa hàng</a></li>
                                <li><a href="@Url.Action("FAQ","About")">FAQ  - Câu hỏi thường gặp</a></li>
                                <li><a href="@Url.Action("Contact","About")">Liên hệ</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-menu-widget clearfix">
                        <h4 class="footer-title">Danh mục</h4>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="@Url.Action("Index","Blog")">Góc sức khoẻ</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-menu-widget clearfix">
                        <h4 class="footer-title">Các chính sách</h4>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="@Url.Action("OperatingRegulations","About")">Quy chế hoạt động</a></li>
                                <li><a href="@Url.Action("ReturnPolicy","About")">Chính sách đổi trả</a></li>
                                <li><a href="@Url.Action("ShippingPolicy","About")">Chính sách giao hàng</a></li>
                                <li><a href="@Url.Action("PrivacyPolicy","About")">Chính sách bảo mật</a></li>
                                <li><a href="@Url.Action("PaymentPolicy","About")">Chính sách thanh toán</a></li>
                                <li><a href="@Url.Action("ConfidentialityPolicy","About")">Chính sách quyền riêng tư</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-sm-12 col-12">
                    <div class="footer-widget footer-newsletter-widget">
                        <h4 class="footer-title">CHỨNG NHẬN BỞI</h4>
                        <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 8px;">
                            <img src="~/Content/img/icons/certificate.png" alt="BCT Image" style="width: 180px; height: auto; object-fit: contain; margin-right: 20px;">
                            <img src="~/Content/img/icons/dmca.png" alt="DMCA Image" style="width: 120px; height: auto; object-fit: contain;">
                        </div>




                        <h5 class="mt-30">Hỗ trợ thanh toán</h5>
                        <img src="~/Content/img/icons/payment-4.png" alt="Payment Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
        <div class="container-fluid ltn__border-top-2">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="ltn__copyright-design clearfix">
                        <p>Công Ty Cổ Phần Dược Phẩm PharmaVillage <span class="current-year"></span></p>
                    </div>
                </div>
                <div class="col-md-6 col-12 align-self-center">
                    <div class="ltn__copyright-menu text-end">
                        <ul>
                            <li><a href="#">Điều khoản & Điều kiện</a></li>

                            <li><a href="#">Bảo mật & Chính sách</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER AREA END -->
<script src="~/Content/js/plugins.js"></script>
<!-- Contact Form -->
<script src="~/Content/js/contact.js"></script>
<!-- Main JS -->
<script src="~/Content/js/main.js"></script>