@model Web_DrugStore.ViewModel.AccountDetailVM
@{
    ViewBag.Title = "AccountDetail";
}


<div class="panel panel-default">
    <div class="panel-heading" style="text-align:center">
        Thông Tin Người Dùng
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
            <dd>@Html.DisplayFor(model => model.UserName)</dd>

            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>

            <dt>@Html.DisplayNameFor(model => model.HoTen)</dt>
            <dd>@Html.DisplayFor(model => model.HoTen)</dd>

            <dt>@Html.DisplayNameFor(model => model.SDT)</dt>
            <dd>@Html.DisplayFor(model => model.SDT)</dd>

            <dt>@Html.DisplayNameFor(model => model.DiaChi)</dt>
            <dd>@Html.DisplayFor(model => model.DiaChi)</dd>
            <!-- Thêm các thuộc tính khác nếu cần -->
        </dl>
    </div>
</div>

<div class="button-div">
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-default" })
</div>

@Html.Action("GetListUserOrder", "ManageCusAcc", new { id = Model.Id, orderpage = ViewBag.Orderpage })

<style>
    .button-div {
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc (nếu cần) */
        height: 100%; /* Đặt chiều cao nếu cần căn giữa dọc */
        margin-top: 20px; /* Khoảng cách phía trên nếu cần */
    }
    

    .panel-heading {
        background-color: #f5f5f5;
        color: #333;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }

    .panel-body {
        padding: 15px;
    }

    .dl-horizontal dt {
        float: left;
        clear: left;
        width: 160px;
        text-align: left;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
    }

    .dl-horizontal dd {
        margin-left: 170px;
        margin-bottom: 10px;
        font-size: 14px;
        color: #555;
    }

    .btn {
        display: inline-block;
        font-size: 14px;
        padding: 10px 20px;
        text-align: center;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border: none;
    }

        .btn:hover {
            background-color: #0056b3;
        }
</style>