@model List<Web_DrugStore.Models.DanhMuc>
@{
    ViewBag.Title = "Danh sách danh mục - PharmaVillage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ManageAction = "Quản lý danh mục";
    ViewBag.RealisticAction = "Xem danh sách danh mục";
    ViewBag.ManageActionName = "Index";
    ViewBag.ManageControllerName = "AdminCategory";

}


@Html.Partial("_PageHeader")



<h1 style="text-align:center">DANH SÁCH DANH MỤC</h1>
<div class="text-right mb-3">
    <a href="@Url.Action("AddCategory", "AdminCategory")" class="btn btn-primary m-r-5">
        <i class="anticon anticon-plus"></i> Thêm danh mục
    </a>
</div>

<!-- Hiện thông báo khi xoá thành công nếu có sự thay đổi trong temp mess-->
@Html.Partial("_DeleteNoti")

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Tên danh mục</th>
                <th scope="col">Danh mục cha</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.TenDanhMuc
                        @if (item.DanhMucCha == null)
                        {
                            <span class="badge badge-pill badge-volcano">Danh mục cha </span>
                        }
                    </td>
                    <td>
                        @if (item.DanhMucCha != null)
                        {
                            @item.DanhMucCha.TenDanhMuc
                        }
                        else
                        {
                            <span>Không có</span>
                        }
                    </td>
                    @if (item.HoatDong == true)
                    {
                        <td><span class="badge badge-pill badge-success">Kích hoạt</span></td>

                    }
                    else
                    {

                        <td><span class="badge badge-pill badge-default">Không kích hoạt</span></td>

                    }
                    <td>
                        <div class="button-container" style="display: flex; gap: 10px;">
                            <a href="@Url.Action("Edit", "AdminCategory", new { id = item.Id })" class="btn btn-info m-r-5">
                                <i class="anticon anticon-edit"></i>
                                <!--Nút chỉnh sửa-->
                            </a>
                            <!--click vào button sẽ bắt đầu gọi func trong partial view-->
                            <button type="button" class="btn btn-danger m-r-5" onclick="showModal(@item.Id, '@Url.Action("Delete", "AdminCategory")')">
                                <i class="anticon anticon-delete"></i> <!--Nút xoá-->
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Xử lý khi bấm vào nút xoá -->
@Html.Partial("_DelConfirmModal")

