@model List<Web_DrugStore.Models.DanhMucBlog>
@{
    ViewBag.Title = "Quản lý danh mục bài viết - PharmaVillage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="text-align:center">QUẢN LÝ DANH MỤC BÀI VIẾT</h1>
<div class="text-right mb-3">
    <a href="@Url.Action("BlogCateAdd", "AdminBlog")" class="btn btn-primary m-r-5">
        <i class="anticon anticon-plus"></i> Thêm danh mục bài viết
    </a>
</div>
<!-- Hiện thông báo khi xoá thành công nếu có sự thay đổi trong temp mess-->
@Html.Partial("_DeleteNoti")
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Danh mục bài viết</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.TenDanhMuc
                    </td>
                    @if (item.HoatDong == true)
                    {
                        <td><span class="badge badge-pill badge-success">Kích hoạt</span></td>

                    }
                    else
                    {

                        <td><span class="badge badge-pill badge-default">Không kích hoạt</span></td>

                    }
                    <td>
                        <div class="button-container" style="display: flex; gap: 10px;">


                            <a href="@Url.Action("BlogCateEdit", "AdminBlog", new { id = item.Id })" class="btn btn-info m-r-5">
                                <i class="anticon anticon-edit"></i>
                                <!--Nút chỉnh sửa-->
                            </a>

                            <!--click vào button sẽ bắt đầu gọi func trong partial view-->
                            <button type="button" class="btn btn-danger m-r-5" onclick="showModal(@item.Id, '@Url.Action("BlogCateDelete", "AdminBlog")')">
                                <i class="anticon anticon-delete"></i> <!--Nút xoá-->
                            </button>
                        </div>

                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>
<!-- Xử lý khi bấm vào nút xoá -->
@Html.Partial("_DelConfirmModal")
