@model Web_DrugStore.Models.Blog
@{
    ViewBag.Title = Model.TieuDe;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- PAGE DETAILS AREA START (blog-details) -->
<div class="ltn__page-details-area ltn__blog-details-area mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="ltn__blog-details-wrap">
                    <div class="ltn__page-details-inner ltn__blog-details-inner">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-category">
                                    <a href="#">@Model.DanhMucBlog.TenDanhMuc</a>
                                </li>
                            </ul>
                        </div>
                        <h2 class="ltn__blog-title">
                           @Model.TieuDe
                        </h2>
                       
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#">Đội ngũ dược sĩ từ PharmaVillage </a>
                                </li>
                                <br />
                                <li class="ltn__blog-date">
                                    <i class="far fa-calendar-alt"></i> @Model.CreatedAt.ToString("dd/MM/yyyy")

                                </li>
     
                             
                                @Html.Raw(Model.NoiDung)
                             
                            </ul>
                        </div>


                    </div>


                    <hr>
                    <!-- related-post -->
                    @Html.Action("RelatedBlog","Blog", new { cateId = Model.DanhMucBlogId, thisBlogId = Model.Id })

                    <hr>

                </div>
            </div>
            <div class="col-lg-4">
                <aside class="sidebar-area blog-sidebar ltn__right-sidebar">
                    <!-- Author Widget -->
                    <div class="widget ltn__author-widget">
                        <div class="ltn__author-widget-inner text-center">

                            <h5>Đội ngũ dược sĩ đến từ PharmaVillage</h5>
                            <small>Uy tín là hàng đầu</small>
                            <div class="product-ratting">
                                <ul>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                </ul>
                            </div>
                            <p>Liên hệ ngay: 1800 6821 khi có thắc mắc</p>
                            <div class="ltn__social-media">
                                <ul>
                                    <li><a href="https://www.facebook.com/PharmacityVN" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/pharmacity/" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UC34rPqjyb_WCq6dMu2khYQA" title="Instagram"><i class="fab fa-instagram"></i></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>


                    


                    <div class="widget ltn__social-media-widget">
                        <h4 class="ltn__widget-title ltn__widget-title-border-2">Theo dõi chúng tôi</h4>
                        <div class="ltn__social-media-2">
                            <ul>
                                <li><a href="https://www.facebook.com/PharmacityVN" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/pharmacity/" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC34rPqjyb_WCq6dMu2khYQA" title="Instagram"><i class="fab fa-instagram"></i></a></li>

                            </ul>
                        </div>
                    </div>

                    <!-- Banner Widget -->
                    <div class="widget ltn__banner-widget d-none">
                        <a href="shop.html"><img src="img/banner/2.jpg" alt="#"></a>
                    </div>
                    <!-- Instagram Widget -->
                    <div class="widget ltn__instagram-widget d-none">
                        <h4 class="ltn__widget-title ltn__widget-title-border">Instagram Feeds</h4>
                        <div class="ltn__instafeed ltn__instafeed-grid insta-grid-gutter"></div>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</div>
<!-- PAGE DETAILS AREA END -->